/Cargo.lock

/target/*

!/target/criterion
/target/criterion/*

!/target/criterion/solve(bbus,nrhs=1)
/target/criterion/solve(bbus,nrhs=1)/*
!/target/criterion/solve(bbus,nrhs=1)/report
/target/criterion/solve(bbus,nrhs=1)/report/*
!/target/criterion/solve(bbus,nrhs=1)/report/lines.svg

!/target/criterion/solve(jac,nrhs=1)
/target/criterion/solve(jac,nrhs=1)/*
!/target/criterion/solve(jac,nrhs=1)/report
/target/criterion/solve(jac,nrhs=1)/report/*
!/target/criterion/solve(jac,nrhs=1)/report/lines.svg